__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# Python environment files
*.pyenv
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db